._3593303BbgDLvx3nfyXQ2C {
    background-color: #5555cc;
}
._2GJncmj579_boboVNZdaKr {
    background-color: darkBlue;
}

._3ftKVwKYisYQXOymzm8ICv {
    background-color: white;
}

._2Qkl-4CB30W4GzxjAjsfFf {
    background-color: #eeeeff;
}

._2VmLuM3_j0Tz2TeHpKWWJ- {
    align-self: center;
}

.FtJ8S1CP6aBB6R9kj2aUB {
    align-items: center;
}

.clTHnSJHe1nHjHAgiR8xG {
    flex: 1;
}

._3gMTpWvXKzsiwLBHgC-_6B {
    display: flex;
    flex-flow: column nowrap;
}

.h1d_2TF0H12Pkwyl9Bku {
    display: flex;
    flex-flow: row nowrap;
}

._1sUGyPVzpnULwRfSFiCwik {
    display: flex;
    flex-flow: row wrap;
}

._2iu2EaspFxN5Q0QogZAjBx {
    display: flex;
    justify-content: space-around;
}

._3fDNZalF-Qlup2_0vj5FMx {
    width: 100%;
}

.pf7Vk7hOYF1FzIoXcVo3s {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

._1ZnnxwcAAI2WpT1Pa8FC2 {
    padding: 10px;
}

._1U9tB7aJeND22SOP8J2X_m {
    margin-bottom: 20px;
}

._9NlVlXBzqcmMcBKpu5CPt {
    flex: 0 1 auto;
    align-self: center;
}

._1ZuhYnM7dOaC_NzxM--AbS {
    font-weight: bold;
}

.dnMHzJjKuG5IXKPARqKje {
    font-style: italic;
}

._7m3lGQT5cbX94lj8zUzOX {
    font-size: larger;
}

._3tmStmkN6JADmoaBd-scQa {
    font-size: 150%;
}

.FUCQ2fetfs3FqIx-qGHrm {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, "Times New Roman", Times, serif;
}

._2eppxLp2hjHhNGD6Tw4gjF {
    font-family: Tahoma, Verdana, Geneva, Helvetica, Arial, sans-serif;
}

._1YWL0IRXzEMdqV4MarkW30 {
    text-align: left;
}

._2Z074ZrkcjkpsmPxdxb2DZ {
    text-align: right;
}

._3wDbsjCnNmWJl8-yV1e4m8 {
    text-align: center;
}

._2NxGCCBudTgifzQ3c_z14k {
    color: white;
}

._2uRuYljpPELon2GqWXvht- {
    color: black;
}

._2rsCSI18MU9Y-OKTPd_-rx:hover {
    opacity: 0.8;
    transition: opacity 0.25s;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
}

button {
    outline: none;
    border: none;
    padding: 10px;
}

