.alignSelfCenter {
    align-self: center;
}

.centerItems {
    align-items: center;
}

.flex1 {
    flex: 1;
}

.flexColumnNoWrap {
    display: flex;
    flex-flow: column nowrap;
}

.flexRowNoWrap {
    display: flex;
    flex-flow: row nowrap;
}

.flexRowWithWrap {
    display: flex;
    flex-flow: row wrap;
}

.flexSpaceAround {
    display: flex;
    justify-content: space-around;
}

.fullWidth {
    width: 100%;
}

.shadowAsCard {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

.slightPadding {
    padding: 10px;
}

.bottomMargin {
    margin-bottom: 20px;
}

.standardCard {
    flex: 0 1 auto;
    align-self: center;
}
